{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<!-- Response Data -->
<div id="profile" class="media">
  {% if data.images %}
  <div class="mr-4">
    <img class="media-object" width="150" src="{{ data.images.0.url }}"/>
  </div>
  {% endif %}
  <div class="media-body">
    <h1>Logged in as <i>{{ data.display_name }}</i></h1>
    <dl class="dl-horizontal">
      <dt>Id</dt><dd>{{ data.id }}</dd>
      <dt>Email</dt><dd>{{ data.email }}</dd>
      <dt>Country</dt><dd>{{ data.country }}</dd>
      <dt>Followers</dt><dd>{{ data.followers.total }}</dd>
      <dt>Account Type</dt><dd>{{ data.product }}</dd>
      <dt>Spotify Url</dt><dd><a href="{{ data.external_urls.spotify }}">{{ data.external_urls.spotify }}</a></dd>
      <dt>URI</dt><dd><a href="{{ data.uri }}">{{ data.uri }}</a></dd>
    </dl>
  </div>
</div>

  <h2>Token Information</h2>
  <dl class="dl-horizontal" id="tokens">
    <dt>Access token</dt><dd class="text-truncate">{{ tokens.access_token }}</dd>
    <dt>Refresh token</dt><dd class="text-truncate">{{ tokens.refresh_token }}</dd>
  </dl>
{% endblock %}

{% block footer %}
<button type="button" class="btn btn-success btn-xs" onclick="refreshTokens()">Refresh Token</button>
<a href="/logout" class="btn btn-danger btn-xs">Logout</a>


<!-- Token info template -->
{% raw %}
<script id="token-template" type="text/x-handlebars-template">
  <dt>Access token</dt><dd class="text-truncate">{{access_token}}</dd>
  <dt>Refresh token</dt><dd class="text-truncate">{{refresh_token}}</dd>
</script>
{% endraw %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.js"></script>
<script>
  (function() {

    // Token template
    var tokenSource = document.getElementById('token-template').innerHTML,
        tokenTemplate = Handlebars.compile(tokenSource),
        tokenPlaceholder = document.getElementById('tokens');

    function refreshTokens() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          let res_json = JSON.parse(this.responseText);
          tokenPlaceholder.innerHTML = tokenTemplate(res_json);
        }
      };
      xhttp.open("GET", "{{ url_for('refresh') }}", true);
      xhttp.send();
    }

    window.refreshTokens = refreshTokens;
  })();
</script>
{% endblock %}